# Listen only on localhost
listen_addresses = 'localhost'

# Logging
logging_collector = on
log_directory = 'pg_log'
log_filename = 'postgresql-%Y-%m-%d.log'
log_statement = 'all'
log_min_duration_statement = 1000  # logs queries slower than 1 second

